<div class="form-group">
    <label for="forfirstname">First Name</label>
    <input id="idfirstname" type="text" name="wfirstname" class="form-control" placeholder="firstname" width="50"/>

    <label for="forlastname">Last Name</label>
    <input id="idlastname" type="text" name="wlastname" class="form-control" placeholder="lastname"/>

    <label for="foremail">Email</label>
    <input id="idemail" type="text" name="wemail" class="form-control" placeholder="email"/>

    <label for="forusername">User Name</label>
    <input id="idusername" type="text" name="wusername" class="form-control" placeholder="username"/>

    <label for="forpassword">Password</label>
    <input id="idpassword" type="password" name="wpassword" class="form-control col-xs-4" placeholder="password"/>

</div>
<br>
<br>
<input id="createbtn" type="button" value="Create User" class="btn btn-primary"/>
